<?xml version="1.0"?>
<config>
	<default>
		<thememanager>
			<general>
				<theme_display>1</theme_display>
				<logo>default/logo.png</logo>
			</general>
		</thememanager>	
	</default>
    <modules>
        <Magestore_Thememanager>
            <version>0.1.0</version>
        </Magestore_Thememanager>
    </modules>
    <frontend>
		<secure_url>
            <thememanager>/thememanager/</thememanager>
        </secure_url>	
        <routers>
            <thememanager>
                <use>standard</use>
                <args>
                    <module>Magestore_Thememanager</module>
                    <frontName>thememanager</frontName>
                </args>
            </thememanager>
        </routers>
        <layout>
            <updates>
                <thememanager>
                    <file>thememanager.xml</file>
                </thememanager>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<thememanager>
				<use>admin</use>
				<args>
					<module>Magestore_Thememanager</module>
					<frontName>thememanager</frontName>
				</args>
			</thememanager>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<thememanager>
					<file>thememanager.xml</file>
				</thememanager>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <thememanager>
                <class>Magestore_Thememanager_Model</class>
                <resourceModel>thememanager_mysql4</resourceModel>
            </thememanager>
            <thememanager_mysql4>
                <class>Magestore_Thememanager_Model_Mysql4</class>
                <entities>
                    <thememanager>
                        <table>thememanager</table>
                    </thememanager>
                </entities>
            </thememanager_mysql4>
        </models>
        <resources>
            <thememanager_setup>
                <setup>
                    <module>Magestore_Thememanager</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </thememanager_setup>
            <thememanager_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </thememanager_write>
            <thememanager_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </thememanager_read>
        </resources>
        <blocks>
            <thememanager>
                <class>Magestore_Thememanager_Block</class>
            </thememanager>
			<!--Emplement Rewrite Block In Module-->
        <!--<target_module>
                <rewrite>
                    <path_to>Magestore_Thememanager_Block_Example</path_to>
                </rewrite>
            </target_module>-->			
        </blocks>
        <helpers>
            <thememanager>
                <class>Magestore_Thememanager_Helper</class>
            </thememanager>
        </helpers>
		<!--Emplement Events Used In Module-->
	<!--<events>
			<event_name>
				<observers>
					<thememanager>
						<type>singleton</type>
						<class>thememanager/observer</class>
						<method>methodName</method>
					</thememanager>
				</observers>
			</event_name>	
		</events>-->
		<template>
			<email>
				<thememanager_general_email_template>
					<label>Title Email</label>
					<file>thememanager_example.html</file>
					<type>html</type>
				</thememanager_general_email_template>
			</email>
		</template>			
    </global>
	<!--Set Default Value For Setting Options-->
	<default>
		<thememanager>
			<!--<general>
				<email_template>thememanager_general_email_template</email_template>
				<email_sender>custom2</email_sender>			
			</general>-->
		</thememanager>
	</default>
	<translate>
		<modules>
			<Magestore_Thememanager>
				<files>
					<default>Magestore_Thememanager.csv</default>
				</files>
			</Magestore_Thememanager>
		</modules>
	</translate>	
</config>