<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Themeswitcher>
            <version>0.2.0</version>
        </Magestore_Themeswitcher>
    </modules>
    <frontend>
        <routers>
            <themeswitcher>
                <use>standard</use>
                <args>
                    <module>Magestore_Themeswitcher</module>
                    <frontName>themeswitcher</frontName>
                </args>
            </themeswitcher>
        </routers>
        <layout>
            <updates>
                <themeswitcher>
                    <file>themeswitcher.xml</file>
                </themeswitcher>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch>
                <observers>
                    <magestore_themeswitcher_observer>
                        <type>singleton</type>
                        <class>themeswitcher/observer</class>
                        <method>controller_action_predispatch</method>
                    </magestore_themeswitcher_observer>
                </observers>					
            </controller_action_predispatch>		
        </events>
    </frontend>
    <admin>
        <routers>
            <themeswitcher>
                <use>admin</use>
                <args>
                    <module>Magestore_Themeswitcher</module>
                    <frontName>themeswitcher</frontName>
                </args>
            </themeswitcher>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <themeswitcher>
                    <file>themeswitcher.xml</file>
                </themeswitcher>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <themeswitcher>
                <class>Magestore_Themeswitcher_Model</class>
                <resourceModel>themeswitcher_mysql4</resourceModel>
            </themeswitcher>
            <themeswitcher_mysql4>
                <class>Magestore_Themeswitcher_Model_Mysql4</class>
                <entities>
                    <theme>
                        <table>themeswitcher_theme</table>
                    </theme>
                    <themebrowser>
                        <table>themeswitcher_theme_browser</table>
                    </themebrowser>
                    <themeplatform>
                        <table>themeswitcher_theme_platform</table>
                    </themeplatform>					
                </entities>
            </themeswitcher_mysql4>
            <catalog>
                <rewrite>
                    <design>Magestore_Themeswitcher_Model_Rewrite_CatalogDesign</design>
                </rewrite>
            </catalog>
        </models>
        <resources>
            <themeswitcher_setup>
                <setup>
                    <module>Magestore_Themeswitcher</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </themeswitcher_setup>
            <themeswitcher_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </themeswitcher_write>
            <themeswitcher_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </themeswitcher_read>
        </resources>
        <blocks>
            <themeswitcher>
                <class>Magestore_Themeswitcher_Block</class>
            </themeswitcher>
        </blocks>
        <helpers>
            <themeswitcher>
                <class>Magestore_Themeswitcher_Helper</class>
            </themeswitcher>
        </helpers>
    </global>
</config>