
#themeinstaller-wizardinstaller { position:absolute; top:0; right:0; bottom:0; left:0; width:100%; height:100%; z-index:980; background-color:#efefef; opacity:.4; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";/*IE8*/ }

.wizard-installer { position:absolute; z-index:990; width:548px; height:397px; top:-9999em; left:30%; margin:0 0 0 -203px; padding:0 4px 4px; position:fixed;}
.wizard-installer.show { top:120px; }
.wizard-installer .wizard-installer-head { padding:1px 0; }
/*
.wizard-installer .wizard-installer-head h2 { padding:0 10px; margin:0; font:bold 12px/19px Arial, Helvetica, sans-serif; color:#644f3b; }
*/
.wizard-installer .wizard-installer-head a { float:right; border:1px solid #ea7601; padding:0 12px 0 7px; background:url(images/bkg_btn-close.gif) 0 50% repeat-x !important; font:normal 12px/17px Arial, Helvetica, sans-serif; color:#fff; text-decoration:none !important; cursor:pointer; }
.wizard-installer .wizard-installer-head a span { float:left; background:url(images/bkg_btn-close2.gif) 0 50% no-repeat; padding-left:19px; }
.wizard-installer .wizard-installer-content .message-icon { float:left; width:50px; padding:47px 0 0; background-position:50% 0; background-repeat:no-repeat; font-size:10px; line-height:12px; text-transform:uppercase; text-align:center; overflow:hidden; }
.wizard-installer .wizard-installer-content .message-critical { background-image:url(images/severity_critical.gif); color:#e41101; }
.wizard-installer .wizard-installer-content .message-major { /*background-image:url(images/severity_major.gif);*/ color:#f55600; }
.wizard-installer .wizard-installer-content .message-minor { /*background-image:url(images/severity_minor.gif);*/ color:#ff9e22; }
.wizard-installer .wizard-installer-content .message-notice { /*background-image:url(images/severity_notice.gif);*/ color:#659601; }
.wizard-installer .wizard-installer-content .message-text { float:right; width:295px; min-height:4.5em; overflow:hidden; color:#644f3b; }
.wizard-installer .wizard-installer-content .read-more { margin:7px 0 0; text-align:right; }
.wizard-installer .wizard-installer-content .read-more a { background:url(images/more_arrow.gif) 0 50% no-repeat; padding-left:14px; text-decoration:underline; }
.wizard-installer .wizard-installer-content .read-more a:hover { text-decoration:none; }
/*
.wizard-installer .wizard-installer-content .message{background:#fdf4eb; padding:21px 21px 10px; height:260px;}
*/
.wizard-installer .wizard-installer-content .buttons{margin:10px 0 0 0;}
/*
.wizard-installer .wizard-installer-content .buttons .themeinstaller-back{float:left;}
.wizard-installer .wizard-installer-content .buttons .themeinstaller-cancel{margin:0 0 0 130px;}
.wizard-installer .wizard-installer-content .buttons .themeinstaller-accept{float:right;}
*/
.themeinstaller-waiting{background-color: #efefef;bottom: 0;height: 100%;left: 0;opacity: 0;position: absolute;right: 0;top: 0;width: 100%;z-index: 980;}

/* Style for installer box */
#themeinstaller-window{ width:548px; height:397px; margin:auto; font-family:Arial;_width:auto;}
.wizard-installer .bkg-left-installer{width:21px; height:397px; float:left; background:url(images/bkg_left_installer.png) no-repeat;}
.wizard-installer .bkg-right-installer{width:21px; height:397px; float:left; background:url(images/bkg_right_installer.png) no-repeat;}
.wizard-installer .bkg-repeat-installer{width:456px; height:342px; float:left; background:url(images/bkg_repeat_installer.png) repeat-x;_background:url(images/bkg_repeat_installer.gif) repeat-x; padding:25px;}
.wizard-installer .wizard-installer-content .message{ height: 216px; width:412px; background:#ffffff url(images/bkg_content_installer.gif) bottom right no-repeat; border:1px solid #d6d6d6;  padding:19px 21px;}
.wizard-installer .wizard-installer-head h2{ font:bold 13px Arial; color:#f6750f; padding: 8px 0;}
.wizard-installer .wizard-installer-content .title{ width:100%; float:left; text-align:left; color:#444444; font-weight:bold; font-size:13px;margin:0 0 10px 0;}

.wizard-installer .wizard-installer-content .content-option-installer{width:400px; float:left; border:1px solid #f8e7d5; background:url(images/bkg_option_box.png) ;_background:#fef1e7; font-size:12px; padding:5px 6px; margin: 10px 0 0 0;}
.wizard-installer .wizard-installer-content .content-option-installer .checkbox{margin:0 5px 0 0;}
.wizard-installer .wizard-installer-content .content-option-installer .radio{margin:0 5px 0 0;}

.wizard-installer .wizard-installer-content .button span{height:22px; float:left;}
.wizard-installer .wizard-installer-content .button span span{ background:0 none; border:0 none; height:22px; float:left;}
.wizard-installer .wizard-installer-content .button{ margin:0; padding:0; cursor: pointer; overflow:hidden; font-size:13px; color:#ffffff; width:auto; background:url(images/bkg_button.png) repeat-x; border:1px solid #c5c5c5; height:24px;}
.wizard-installer .wizard-installer-content .themeinstaller-back{ float:left; margin:0;}
.wizard-installer .wizard-installer-content .themeinstaller-accept{ float:right; margin:0;}


.wizard-installer .wizard-installer-content .themeinstaller-back span span{ background:url(images/icon-back-installer.png) no-repeat !important; height:18px; padding: 0 6px 0 22px; float:left;  margin: 1px 0 0 4px;}
.wizard-installer .wizard-installer-content .themeinstaller-cancel span span{ background:url(images/icon-cancer-installer.png) no-repeat!important; height:18px; padding: 0 6px 0 22px; float:left; margin: 1px 0 0 4px;}
.wizard-installer .wizard-installer-content .themeinstaller-accept span span{ background:url(images/icon-next-installer.png) no-repeat !important; height:18px; padding: 0 6px 0 22px; float:left; margin: 1px 0 0 4px;}
.wizard-installer .wizard-installer-content .btn-sparator{float:left; margin-left:120px!important; *margin-left:100px!important;}

.wizard-installer .powered{float:right;font-size:10px;font-weight:bold;}
/* End of style for installer box */


